OPENAI_API_KEY=your_openai_api_key

DATABASE_URL=postgresql://neondb_owner:npg_GBc1Leg5ZRIM@ep-little-fire-aqtaf19k-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&connect_timeout=30

COLLECTION_NAME=rag_documents